Dockerfile*
docker-compose*
.dockerignore
node_modules
.next
.git
.gitignore
*.db
*.db-journal
*.db-shm
*.db-wal
prisma/*.db
prisma/*.db-journal
prisma/*.db-shm
prisma/*.db-wal
.env*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
